/*font-family: 'Metal Mania', cursive;
font-family: 'Lato', sans-serif;*/


nav {
background-color: #222222;    
}

nav ul li{
    display: inline-block;
    font-family: 'Metal Mania', cursive;
    padding: 10px 2%;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    background-color: #ff00ff;
    color: #ccc;
}

.logo {
    background: url(/images/gorslogoklein.png);
    background-color: #ff00ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 200px;
    height: auto;
    margin: 0;
    padding: 10px;
}




