/*-----------------------------------fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Metal+Mania');

/*----------------------------------colors*/

body {
    background-color: #660066;
}

.menu-color-index {
    background-color: #cc00cc;
}

.menu-color-ontour {
    background-color: #cc0099;
}

.menu-color-music {
    background-color: #cc3399;
}

.menu-color-bookus {
    background-color: #cc6699;
}

.fa {
    color: #000;
}

/*----------------------------------header*/

header {
    margin: 0;
}

.logo {
    background: url(/images/gorslogoklein2.png);
    background-color: #660066;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    min-height: 220px;
    /*height: auto;
    padding-top: 40px;
    padding-bottom: 40px;*/
}

/*------------------------------navigation*/

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 125px;
    text-align: center;
    padding: 0;
    opacity: 0.7;
    transition: ease-in-out .3s;
}

.menuitem:hover {
    opacity: 1;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 7px;
    text-align: center;
    font-family: 'Metal Mania', serif;
    color: #000;
    font-size: 30px;
    letter-spacing: 4px;
}

/*------------------------------------band*/
.center {
    margin: 0 auto;
    width: 80%;
}

h2 {
    font-family: 'Metal Mania', serif;
    font-size: 35px;
}

p::first-letter {
    font-size: 300%;;
    font-family: 'Metal Mania', serif;
    line-height: 0;
}

/*----------------------------------footer*/

.social-links li a img {
    width: 35px;
    height: 35px;
}